// Variables
//

//Imports
@import './landing-page';
@import './team-page';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  background: transparent !important;
}