@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: indianred;
  display: grid;
  grid-template-rows: calc(100vh - 100px) 100px;
}

.landing-video {
  position: relative;
  top: 0;
  width: 1920px;
  height: calc(100vh - 100px);
  margin: auto;
  left: calc(50vw - 960px);
}

.landing-video-overlay {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.525);
  z-index: 1;
}

.google-maps-iframe {
  width: 100vw;
  height: 100px;
}

nav {
  position: relative;
  width: 100vw;
  height: 75px;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.menu-container {
  position: relative;
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
}

.quote-text {
  font-family: "Secular One", sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.call-to-action {
  position: relative;
  width: 100vw;
  text-align: center;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  grid-row-gap: 25px;
  place-items: center;
  height: 300px;
  top: calc(35vh - 150px);
}

.cta-button {
  position: relative;
  width: 210px;
  height: 40px;
}

.schedule-button {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border: 2px solid skyblue;
  color: indianred;
  z-index: 1;
  font-size: 17px;
  font-weight: 900;
}

.schedule-button-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  top: 5px;
  left: 5px;
}

.menu-overlay {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
  opacity: 0;
  -webkit-animation: 500ms fadeIn forwards;
          animation: 500ms fadeIn forwards;
  display: grid;
  grid-template-rows: 80px -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: 80px max-content max-content max-content;
  grid-row-gap: 25px;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.exit-menu-button {
  position: relative;
  height: 75px;
  width: 100vw;
  display: grid;
  place-items: center;
  justify-content: right;
  padding: 5px;
  box-sizing: border-box;
}

.exit-menu-button-container {
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
}

.link {
  position: relative;
  width: 100vw;
  text-align: right;
  color: white;
  font-weight: 600;
  font-size: 24px;
  left: -27px;
  z-index: 3;
}

.team-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  display: grid;
  grid-template-rows: calc(100vh - 100px) 100px;
}

.carousel-control {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100px;
  display: grid;
  place-items: center;
}

.carousel-controller {
  width: 100px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-between;
  align-items: center;
}

.carousel-ball {
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.team-card {
  position: relative;
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content max-content max-content max-content;
  grid-row-gap: 15px;
  align-items: center;
}

.team-card-img-container {
  position: relative;
  width: 100vw;
  height: 180px;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
}

.team-card-pfp {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  z-index: 2;
}

.pfp-img-1 {
  width: 100px;
  position: relative;
  height: 100px;
  border-radius: 100%;
  transform: translate3d(30px, 20px, 0);
  border-radius: 100% !important;
}

.pfp-img-2 {
  width: 100px;
  position: relative;
  height: 100px;
  border-radius: 100%;
  transform: translate3d(-30px, 20px, 0);
  border-radius: 100% !important;
}

.team-card-pfp-mini {
  width: 100px;
  position: relative;
  height: 100px;
  border-radius: 100%;
}

.team-card-pfp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 100%;
}

.team-member-name {
  font-size: 1.75em;
  font-weight: 900;
  width: 100vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.team-member-description {
  position: relative;
  width: 85vw;
  left: 7.5vw;
  font-size: 1.15em;
  color: rgba(0, 0, 0, 0.8);
}

.team-member-contact-header {
  position: relative;
  font-weight: 650;
  font-size: 1.22em;
  left: 7.5vw;
  color: rgba(0, 0, 0, 0.85);
  transform: translateY(10px);
}

.team-member-phone-number {
  position: relative;
  left: 7.5vw;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
}

.team-member-social-container {
  position: relative;
  left: 7vw;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 10px;
  align-items: center;
  width: 80vw;
  padding: 5px;
  box-sizing: border-box;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.social {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.cta-button-team {
  left: 7.5vw;
}

@media only screen and (max-height: 750px) {
  .team-card-img-container {
    position: relative;
    width: 100vw;
    height: 120px;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
  }
  .team-card-pfp {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    z-index: 2;
  }
  .pfp-img-1 {
    width: 80px;
    position: relative;
    height: 80px;
    border-radius: 100%;
    transform: translate3d(20px, 10px, 0);
    border-radius: 100% !important;
  }
  .pfp-img-2 {
    width: 80px;
    position: relative;
    height: 80px;
    border-radius: 100%;
    transform: translate3d(-20px, 10px, 0);
    border-radius: 100% !important;
  }
  .team-card-pfp-mini {
    width: 80px;
    position: relative;
    height: 80px;
    border-radius: 100%;
  }
}
.instagram {
  background: url("../img/instagram.png");
  background-size: cover;
}

.facebook {
  background: url("../img/facebook.png");
  background-size: cover;
}

.tiktok {
  background: url("../img/tiktok.png");
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  background: transparent !important;
}/*# sourceMappingURL=style.css.map */